* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  background-color: #FAFAFA;
}

.nav-wrapper-one {
  height: 3.5em;
  width: 100%;
  background-color: #337FC3;
  border-top: solid 4px #235C8F;
  border-bottom: solid 2px #D7D5D4;
  display: flex;
}

.nav-wrapper-two {
  margin-top: auto;
  margin-bottom: auto;
}

.nav-text {
  font-family: sans-serif;
  color: white;
  font-size: 1.5em;
  margin-left: 1em;
}

.search-box-wrapper {
  width: 100%;
  background-color: #FAFAFA;
}

.search-box {
  width: 100%;
  background-color: #FAFAFA;
  display: flex;
}

.input-text-wrapper {
  flex: 6;
  display: block;
}

.input-text {
  margin-left: 1.75em;
  margin-top: 1em;
  margin-bottom: .2em;
  font-family: sans-serif;
  font-weight: bold;
  font-size: .75em;
}

.input {
  margin: .75em .75em;
  margin-left: 1.5em;
  margin-top: 0em;
  padding: .3em;
  width: 90%;
  border-radius: 4px;
  border: solid 2px #ECECEC;
  flex: 3;
}

.search-wrapper {
  flex: 2;
  display: block;
}

.search {
  background-color: #a1b3bf;
  padding: .3em;
  margin-top: 2em;
  margin-bottom: 1.5em;
  width: 100%;
  border-radius: 4px;
  border: solid 2px #a1b3bf;
  font-family: sans-serif;
  font-size: .8em;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px #4f6975;
  flex: 1;
}

.search:hover {
  background-color: #83B0C6;
  border: solid 2px #83B0C6;
}

::placeholder {
  font-family: sans-serif;
  font-size: .9em;
}

.blank {
  flex: 1;
}

.results-wrapper-one {
  border: solid 4px #ECECEC;
  background-color: white;
  margin-left: 1em;
  width: 96%;
}

.results-wrapper-two {
  border: solid 1px lightgray;
}

.job-board-heading {
  width: 96%;
  margin-left: 2.5%;
  height: 3.3em;
  border-bottom: solid 1px lightgray;
}

/* .job-board-heading:nth-child(5) {
  border-bottom: none;
} */

.job-board-heading h3 {
  color: #294455;
  padding-top: .2em;
  font-size: 1.45em;
  font-family: sans-serif;
}

.container-one {
  width: 96%;
  margin-left: 2.5%;
}

.container-two {
  width: 96%;
  margin-left: 2.5%;
}

.container-three {
  width: 96%;
  margin-left: 2.5%;
}

.divContainer {
  display: flex;
  border-bottom: solid 1px lightgray;
}

.divContainer:hover {
  background-color: #f2f2f2;
}

.divContainer:nth-child(10) {
  border-bottom: hidden;
}

.div-container-no-results {
  font-size: .8em;
  font-family: sans-serif;
  color: gray;
  margin-top: 1em;
  margin-bottom: .75em;
  margin-left: .7em;
}

.myDiv {
  flex: 5;
  padding-top: .3em;
}

.myDivTwo {
  flex: 3;
}

.div-container-more-results {
  height: 2.2em;
  width: 100%;
  text-align: center;
}

.div-container-more-results a {
  background-color: #337FC3;
  font-family: sans-serif;
  font-size: .75em;
  font-weight: bold;
  color: white;
  text-align: center;
  padding-top: .45em;
  display: inline-block;
  text-decoration: none;
  margin-top: 0em;
  width: 100%;
  height: 2.2em;
  border-radius: 4px;
  text-shadow: 1px 1px #0062ad;
}

.div-container-more-results a:hover {
  background-color: #2F73C6;
}

.jobTitle {
  text-decoration: none;
  color: #337FC3;
  font-family: sans-serif;
  font-size: .8em;
  font-weight: bold;
  margin-bottom: .5em;
}

.jobTitle:hover {
  text-decoration: underline;
}

.jobCompany {
  font-size: .75em;
  font-family: sans-serif;
  font-weight: 200;
  color: gray;
  margin-top: .5em;
  margin-bottom: .75em;
}

.jobLocation {
  text-align: right;
  font-size: .75em;
  font-family: sans-serif;
  font-weight: 200;
  color: black;
  margin-top: .75em;
  margin-bottom: .5em;
}

.jobPostDate {
  text-align: right;
  font-size: .75em;
  font-family: sans-serif;
  font-weight: 200;
  color: gray;
  margin-top: .5em;
  margin-bottom: .75em;
}

.footer {
  min-height: 5em;
}

@media (max-width: 760px) {

  .nav-wrapper-two {
    margin: auto;
  }
  .nav-text {
    margin: auto;
  }
  .search-box {
    display: block;
  }
  .search-wrapper {
    margin-left: 1.2em;
  }
  .search {
    width: 9em;
    margin-top: 1em;
  }
}

@media (min-width: 1020px) {

  .nav-wrapper-two {
    width: 984px;
    margin: auto;
  }

  .nav-text {
    margin-left: 0em;
  }

  .search-box {
    width: 984px;
    margin: auto;
  }

  .input-text {
    margin-left: 0em;
  }

  .input {
    margin-left: 0em;
  }

  .results-wrapper-one {
    width: 984px;
    margin: auto;
  }
}
